* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    color: #fff;
    font-family: sans-serif;
}

img {
    width: 100%;
}

.mobile-photo {
    display: none;
}

.card {
    max-width: 1100px;
    margin: 80px auto;
    height: 446px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Card One */
.card1 {
    background: hsl(244, 38%, 16%);
    padding: 4.5rem 6rem 4.5rem 4.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card1 h1 {
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.3;
}

.insight {
    color: hsl(277, 64%, 61%);
}

.main-p {
    font-size: 1rem;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 5rem;
}

.numbers {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-auto-flow: column;
}

.numbers p{
    color:hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}
.number {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 5px;
}

/* Card two */
.card2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card2:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(86, 5, 136, 0.5);
}

.card2 img {
    transition: all 0.5s ease;
}
.card2:hover img{
    transform: scale(1.2);
}

.attribution {
    padding: 1rem 0;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.6);
    background: rgba(98, 4, 165, 0.87);
}

.attribution a {
    text-decoration: none;
    color: #f4f4f4;
}

@media screen and (max-width: 1100px) {

    .card {
        width: 80%;
        height: auto;
        margin: 20px auto;
    }
    
    /* Card One */
    .card1 {
        padding: 2.5rem 3rem 1.5rem 2.5rem;
    }

    .main-p {
        margin-bottom: 4rem;
        line-height: 1.1;
    }

    .card1 h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        line-height: 1.1;
    } 

    .card2:hover img{
        transform: none;
    }

    .attribution {
        display: none;
    }
} 

@media screen and (max-width: 375px) {
    .mobile-photo {
        display: block;
        width: 88%;
        margin: 5rem auto 0 auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        overflow: hidden;
    }

    .mobile-photo:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(86, 5, 136, 0.5);
    }

    .card {
        width: 88%;
        margin: 0 auto 3rem auto;
        height: auto;
        grid-template-columns: 1fr;
    }
    
    /* Card One */
    .card1 {
        padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
    }
    
    .card1 h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1.1;
    }
    
    .main-p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 2rem;
    }
    
    .numbers {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-gap: 1.5rem;
    }
    
    .number {
        font-size: 1.1rem;
    }
    

    .card2 {
        display: none;
    }
}
